<h2>Chat Activo</h2>
<label for="Message">Escribe tu mensaje</label>
<input type="text" name="Message" placeholder="Escribe un Mensaje" class="messajes">


<div class="chatContainer">



</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>