<h1>Escribe tu correo electronico y la nueva contraseña que te gustaria elegir</h1>

<h5 style="color: white;">{{error}}</h5>

<br />

<label for="password">Escribe tu nueva Contraseña:</label>
<input type="password" class="register-data" name="password" placeholder="Escribe tu contraseña" id="newpass" />

<br />

<button id="recoverpass">Enviar</button>
<br />

<script type="module" src="/js/session-events.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>